@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    transition: 1s;
    font-family: 'Poppins';
}

body {
    background-image: linear-gradient(rgb(67, 9, 88), rgb(36, 36, 158));
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 300px;
    padding: 30px;
    background: rgba(6, 6, 76, 0.79);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(6, 6, 76, 1);

}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
    padding:20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #fff;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
input:focus{
    outline: none;
    border: none;
}

.form-group input[type="submit"] {
    background-color: #003973;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.form-group input[type="submit"]:hover {
    background-color: #002a5f;
}